# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Database
database/*.sqlite3

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
